<a href="https://colab.research.google.com/github/akul-bharadwaj/Welmart-sales-insights-with-PySpark/blob/main/Welmart_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Superstore Sales Insights

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [ ]:
spark = SparkSession.builder.appName('Superstore_Sales').getOrCreate()

### Data Loading

In [ ]:
# Path to data set
csv_file = "/content/Superstore.csv"

df = spark.read \
    .format("csv") \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .load(csv_file)

In [ ]:
df.createOrReplaceTempView("u")

In [ ]:
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

### 1. Determine the best-selling product sub-category.

In [ ]:
#Determine the best-selling product sub-category.

sales_by_sub_category = df.groupBy("Sub-Category").agg(sum("Sales").alias("Total_Sales"))

In [ ]:
sales_by_sub_category.orderBy("Total_Sales", ascending=False).show()

+------------+------------------+
|Sub-Category|       Total_Sales|
+------------+------------------+
|      Phones| 329753.0880000001|
|      Chairs|328449.10300000076|
|     Storage|216803.21200000012|
|      Tables| 206965.5320000001|
|     Binders|199905.71700000006|
|    Machines|189238.63099999996|
| Accessories| 167380.3180000001|
|     Copiers|149528.02999999994|
|   Bookcases|114879.99629999997|
|  Appliances|        107532.161|
| Furnishings| 82752.23000000004|
|       Paper| 75356.11799999999|
|    Supplies| 45952.47000000001|
|         Art|27118.791999999954|
|   Envelopes|15339.489999999993|
|      Labels|         12486.312|
|   Fasteners|3008.6559999999995|
+------------+------------------+

In [ ]:
best_selling_sub_category = sales_by_sub_category.orderBy("Total_Sales", ascending=False).limit(1)
best_selling_sub_category.show()

+------------+-----------------+
|Sub-Category|      Total_Sales|
+------------+-----------------+
|      Phones|329753.0880000001|
+------------+-----------------+

### 2. Identify the product category generating the highest revenue.

In [ ]:
#Identify the product category generating the highest revenue.

rev_by_category = df.groupBy("Category").agg(sum("Sales").alias("Total_Sales"))

In [ ]:
rev_by_category.orderBy("Total_Sales", ascending=False).show()

+---------------+-----------------+
|       Category|      Total_Sales|
+---------------+-----------------+
|     Technology|835900.0669999964|
|      Furniture|733046.8612999996|
|Office Supplies|703502.9280000031|
+---------------+-----------------+

In [ ]:
highest_rev_category = rev_by_category.orderBy("Total_Sales", ascending=False).limit(1)
highest_rev_category.show()

+----------+-----------------+
|  Category|      Total_Sales|
+----------+-----------------+
|Technology|835900.0669999964|
+----------+-----------------+

### 3. Compile a top 10 list of the most valuable customers.

In [ ]:
#Compile a top 10 list of the most valuable customers.

cust_rev = df.groupBy("Customer Name").agg(sum("Sales").alias("Total_Sales"))

In [ ]:
cust_rev.orderBy("Total_Sales", ascending=False).show(10)

+------------------+------------------+
|     Customer Name|       Total_Sales|
+------------------+------------------+
|       Sean Miller|          25043.05|
|      Tamara Chand|19017.847999999998|
|      Raymond Buch|         15117.339|
|      Tom Ashbrook|          14595.62|
|     Adrian Barton|14355.610999999997|
|      Sanjit Chand|14142.333999999999|
|      Ken Lonsdale|         14071.917|
|      Hunter Lopez|12873.297999999999|
|      Sanjit Engle|12209.438000000002|
|Christopher Conant|         12129.072|
+------------------+------------------+
only showing top 10 rows

### 4. Determine the state responsible for the highest number of orders.

In [ ]:
#Determine the state responsible for the highest number of orders.

state_orders = df.groupBy("State").agg(count("*").alias("Total_Orders"))

In [ ]:
state_orders.orderBy("Total_Orders", ascending=False).show()

+--------------+------------+
|         State|Total_Orders|
+--------------+------------+
|    California|        2001|
|      New York|        1128|
|         Texas|         985|
|  Pennsylvania|         587|
|    Washington|         506|
|      Illinois|         492|
|          Ohio|         469|
|       Florida|         383|
|      Michigan|         255|
|North Carolina|         249|
|      Virginia|         224|
|       Arizona|         224|
|       Georgia|         184|
|     Tennessee|         183|
|      Colorado|         182|
|       Indiana|         149|
|      Kentucky|         139|
| Massachusetts|         135|
|    New Jersey|         130|
|        Oregon|         124|
+--------------+------------+
only showing top 20 rows

In [ ]:
state_orders.orderBy("Total_Orders", ascending=False).show(1)

+----------+------------+
|     State|Total_Orders|
+----------+------------+
|California|        2001|
+----------+------------+
only showing top 1 row

### 5. Find the year with the highest revenue generation.

In [ ]:
# Find the year with the highest revenue generation.

#df = df.withColumn("Order Date", to_date(df["Order Date"], "MM/dd/yyyy"))
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")

rev_by_year = df.groupBy(year("Order Date").alias("Year")).agg(sum("Sales").alias("Total_Sales"))

In [ ]:
rev_by_year.orderBy("Total_Sales", ascending=False).show()

+----+-----------------+
|Year|      Total_Sales|
+----+-----------------+
|2017|724994.5611999998|
|2016|601265.2610000009|
|2014| 481763.798100001|
|2015|464426.2359999999|
+----+-----------------+

In [ ]:
rev_by_year.orderBy("Total_Sales", ascending=False).show(1)

+----+-----------------+
|Year|      Total_Sales|
+----+-----------------+
|2017|724994.5611999998|
+----+-----------------+
only showing top 1 row